$primary-color: #073c36;
$accent-color: #95c9b4;
$bg-color: #ffffff;
$page-bg: #fdfdf6;
$font: 'Georgia', serif;
$shadow: 0 0 10px rgba(7, 60, 54, 0.08);

.containerRlc {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: $page-bg;
  font-family: $font;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1150px;
}

.card {
  background: $bg-color;
  border-radius: 16px;
  box-shadow: $shadow;
  border: 1px solid #e2e2e2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-header {
    background: $primary-color;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  &-body {
    padding: 24px;
    font-size: 15px;
    color: $primary-color;

    p {
      margin-bottom: 16px;
      line-height: 1.6;
    }
  }

  .buy-button {
    margin-top: 20px;
    background-color: $primary-color;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 80%;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(1,1fr)
  }
}